mixin select(name, values, selected)
    -
        let { categories } = values
        console.log(values);

    if categories
        span.form-row(class=attributes.class)
            if attributes.placeholder
                label.row__label(for=attributes.id)= `${attributes.placeholder}:`
            select.select(name=name)&attributes(attributes)
                option.option(value="no selected" disabled selected) Выбрать поле
                each category in categories
                    option.option(value=`${category.categoryName}`)= category.categoryName

    else
        span.form-row(class=attributes.class)
            if attributes.placeholder
                label.row__label(for=attributes.id)= `${attributes.placeholder}:`
            select.select(name=name)&attributes(attributes)
                option.option(value="no selected" disabled ) Выбрать поле
                each value in values
                    option.option(value=`${value}`)= value