mixin table(elements)
    -
        let thead = {
            news: ['#', 'Название', 'Опубликовано', 'Действие'],
            category: ['#', 'Категория', 'Действие'],
            product: ['', '', '', '']
        }
   
    table.admin-table
        thead.thead
            tr.tr
                each title in thead.news
                    th.th= title
                
        tbody.tbody
            -let i = pagination.page * pagination.limit - pagination.limit;
            
            each news in elements
                - i += 1
                tr.tr(class=(news.published) ? 'published' : 'unpublished')
                    td.td.td-num= i
                    td.td.td-title= news.title
                    td.td.td-publish
                        i.status-ico(class=(news.published) ? 'far fa-check-square' : 'far fa-square')
                    td.td.td-controls
                        +btn('Изменить')(href=`/admin/news/${news.id}/edit` action='edit')
                        +btn('Удалить')(href=`/admin/news/${news.id}/delete` action='delete')