mixin news-list(newsList)
    ul.news-feed__list
        each news in newsList
            li.news-feed__item
                .date-container
                    i.far.fa-calendar-alt
                    .news-feed__date= news.date
                a.news-feed__link.news-feed__link_img(href=`${news.link}`)
                    img.news-feed__img(src=`${news.img}`, alt=`${news.alt}`)
                a.news-feed__link.news-feed__link_title(href=`${news.link}`)
                    h3.h3-news-feed= news.title
                p.p-news-feed= news.description

 
