mixin news-list(newsList)
    ul.news-feed__list
        each news in newsList
            li.news-feed__item
                .date-container
                    i.far.fa-calendar-alt
                    .news-feed__date= news.date
                a.news-feed__link.news-feed__link_img(href=`${news.link}`)
                    img.news-feed__img(src=`${news.img}`, alt=`${news.alt}`)
                a.news-feed__link.news-feed__link_title(href=`${news.link}`)
                    h3.h3-news-feed= news.title
                p.p-news-feed= news.description

 
mixin pagination(totalNewsCount, limit, currentPage, num)
    - let index = 0;
    - let pageRange = num || 2;
    - let totalPages = totalNewsCount / limit;
    - let rangeStart = () => (currentPage - pageRange > 1) ? currentPage - pageRange : 1;
    - let rangeEnd = () => (currentPage + pageRange < totalPages) ? currentPage + pageRange : totalPages;
    - let hasFirst = rangeStart !== 1;
    - let hasLast = rangeEnd() < totalPages;

    if totalPages > 1
        ul.pagination
            li.pagination__item
                a.pagination__link(href='#')
                    span.pagination__previous <
            if totalPages > 6 && hasFirst
                li.pagination__item
                    a.pagination__link(href='#') 1
                li.pagination__item
                    a.pagination__link(data-eclipdse='true' disabled href='#') ...
            if totalPages <= 6
                -for(let index = 1; index <= totalPages; index +=1)
                    li.pagination__item
                        a.pagination__link(href='#')= index
            else                        
                -for(let index = rangeStart(); index <= rangeEnd(); index +=1)
                    li.pagination__item
                        a.pagination__link(href='#')= index
            
            if totalPages>6 && hasLast
                li.pagination__item
                    a.pagination__link(data-eclipdse='true' disabled href='#') ...
                li.pagination__item
                    a.pagination__link(href='#')= totalPages
            
            li.pagination__item
                a.pagination__link(href='#')
                    span.pagination__next >