mixin table(elements)
    -let {newsfeed, categories, products} = elements;
    -
        let thead = {
            news: ['#', 'Название', 'Опубликовано', 'Действие'],
            category: ['#', 'Категория', 'Действие'],
            product: ['', '', '', '']
        }
   
    if newsfeed
        table.admin-table
            thead.thead
                tr.tr
                    each title in thead.news
                        th.th= title
                    
            tbody.tbody
                -let i = 0;
                each news in newsfeed
                    - i += 1
                    tr.tr(class=(news.published) ? 'published' : 'unpublished')
                        td.td.td-num= i
                        td.td.td-title= news.title
                        td.td.td-publish
                            i.status-ico(class=(news.published) ? 'fas fa-calendar-check' : 'fas fa-calendar-minus')
                        //- td.td.td-publish= (news.published) ? 'Да' : 'Нет'
                        td.td.td-controls
                            +btn('Изменить')(href='admin-edit.html' action='edit')
                            +btn('Удалить')(href='admin-delete.html' action='delete')
    //- if categories
        table.admin-table
            thead.thead
                tr.tr
                    each title in thead.category
                        th.th= title
            tbody.tbody
                -let i = 0;
                each category in categories
                    -i += 1
                    -console.log(category)
                    tr.tr
                        td.td.td-num= i
                        td.td.td-title
                            a(href="#")= category.categoryName