mixin select(name, values)
    span.form-row(class=attributes.class)
        if attributes.placeholder
            label.row__label(for=attributes.id)= `${attributes.placeholder}:`
        select.select(name=name)&attributes(attributes)
            option.option(value='no' selected disabled) Выбрать поле
            each option in units || categories || values
                option.option(value=(typeof option !== 'object') ? option : option.value || option.id 
                            selected=(values == option || values == option.id) ? true : false)= (typeof option !== 'object') ? option : option.name